body {
    --three-rem: 3rem;
    margin: 0 var(--three-rem) 0 var(--three-rem);
    background-color: wheat;
}
@media screen and (max-width: 600px) {
    body {
        margin: 0;
    }
}
.game-icon {
    width: var(--three-rem);
}
.small-number-tracker {
    width: 2rem;
}
.game--prototype {
    display: flex;
    flex-direction: column;
}
.player--aid {
    display: flex;
    flex-direction: row;
}
.player--aid_character {
    display: grid;
    grid-template-columns: calc(var(--three-rem) * 4) calc(var(--three-rem) * 4);
}
.character-image{
    width: calc(var(--three-rem) * 3);
    grid-column: span 2;
}
.player--aid_status {
    display: flex;
    flex-direction: column;
}
.game--board_token-supply {
    display: flex;
    width: 100%;
    height: auto;
    gap: 4px;
    margin-bottom: 4%;
}
.token-holder {
    position: relative;
    width: 4vw;
    height: 4vh;
    min-width: var(--three-rem);
}
.game-token {
    position: absolute;
    width: 100%;
    min-width: var(--three-rem);
}
#game--board {
    width: 50%;
    min-width: 500px;
    height: auto;
}

