body {
    --three-rem: 3rem;
    margin: 0 var(--three-rem) 0 var(--three-rem);
    background-color: wheat;
}
.game-icon {
    width: var(--three-rem);
}

#game--board {
    width: 50%;
    min-width: 500px;
    height: auto;
}

#draggable {
    width: 40px;
    height: 40px;
    background-color: cadetblue;
    border-radius: 50%;
}
